@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.clear {
	clear: both;
}

.header {
	text-align: center;
}

.soundboard {
	padding: 10px;
	text-align: center;
}
.key, .spacebar {
	display: inline-block;
	font-size: 20px;
	border: 1px solid #ddd;
	background: #000;
	color: #fff;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 6px;
	padding: 10px;
	margin: 2px;
	text-transform: uppercase;
	cursor: pointer;
}
.key {
	width: 40px;
}
.key.disabled {
	background: #aaa;
	cursor: default;
}
.spacebar { 
    width: 200px;
    margin: 0 auto;
    display: block;
}

.wizard {
	content: '';
	width: 1000px;
	height: 500px;
	position: absolute;
	bottom: -500px;
	left: 0;
	background: url('./images/wizard.png') no-repeat top center;
	animation: scrollWizard 4.5s 1;
}

@keyframes scrollWizard {
  0% {
    bottom: -500px;
    left: -500px;
  }
  10% {
  	bottom: 0;
  }
  90% {
  	bottom: 0;
  	left: 50%;
  }
  100% {
    bottom: -500px;
    left: 100%;
  }
}