@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}
.clear {
	clear: both;
}

.header {
	text-align: center;
}

.soundboard {
	padding: 10px;
	text-align: center;
}
.key {
	display: inline-block;
	font-size: 20px;
	border: 1px solid #ddd;
	background: #000;
	color: #fff;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 6px;
	padding: 10px;
	margin: 2px;
	text-transform: uppercase;
	cursor: pointer;
}
.key.disabled {
	background: #aaa;
	cursor: default;
}
.spacer {
	display: inline-block;
	height: 10px;
	width: 10px;
}